
@{
    ViewBag.Title = "Warehouse";
}

<h2>Warehouse</h2>
<div class="form-group">
    <div class="col-sm-10">
        @Html.DropDownList("productId", new SelectList(Model, "Id", "Name"), "--  Select Product  --",
                                          new { @class = "form-control", @onchange = "filterWarehouse()" })
    </div>
</div>
<div class="container warehouse-container">
    @Html.Action("_StockReport")
</div>
@section Scripts{
    <script src="~/Scripts/warehouse.js"></script>
}